fieldset {
    border: none;
    display: flex;
    flex-flow: column;
    margin-bottom: 3rem;
}

.sobre {
    gap: 1rem;
}

.personalização {
    gap: 1.5rem;
}

.legends {
    display: flex;
    gap: .75rem;
    & img {
        width: 1.5rem;
        height: 1.5rem;
    }
    & legend {
        font: var(--heading-sm);
        color: var(--text-heading);
    }
}

