input,
textarea {
    appearance: none;
    border: 1px solid var(--input-stroke);
    border-radius: .5rem;
    padding-block: 0.8125rem;
    background-color: var(--input-base);
    font: var(--body-md);
    color: var(--text-heading);
    padding-left: 1rem;
}

input[type="datetime-local"] {
    text-transform: uppercase;
}

input:focus,
textarea:focus,
input[type="datetime-local"]:focus-within {
    outline: none;
    border: .125rem solid var(--brand-light);
    outline-offset: .1px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

.input-wrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.flex {
    display: flex;
    gap: 1rem;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

label {
    font: var(--body-md);
    font-weight: 400;
    font-size: .875rem;
    color: var(--text-body);
    margin-bottom: .75rem;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    textarea {
        appearance: none;
    }
}

input,
textarea {
    
    &:invalid {
        border: 1px solid var(--danger);
    }

    &[required]+.error {
        margin-top: .5rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        span {
            font-family: var(--font-opensans);
            color: var(--danger);
            font-weight: 400;
            font-size: .75rem;
        }
    }

    &:not(:focus):valid+.error {
        display: none;
    }
}
